{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.teaser %}
  {% assign teaser = title %}
{% else %}
  {% assign teaser = post.categories %}
{% endif %}

<div class="list__item">
  <article class="archive__item archive-single-item-custom" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser archive-single-teaser-custom">
        <img src="/assets/images/{{ post.categories }}/{{ teaser }}.jpg" alt="사진 영역" class="archive-single-img-custom">
      </div>
    {% endif %}
    <div>
      <h2 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {{ post.description }}
      {% include page__meta.html type=include.type %}
      {% include post__tags.html %}
    </div>
  </article>
</div>
