---
layout: archive
---

{{ content }}

<div class="button-container">
  <span class="button-second selected">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</span>
  <span class="button-first">{{ site.data.ui-text[site.locale].category | default: "Category" }}</span>
</div>
<hr/>

<div class="toggle-first toggle-hide">
  {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}

  <ul class="taxonomy__index">
    {% for i in (1..categories_max) reversed %}
      {% for category in site.categories %}
        {% if category[1].size == i %}
          <li>
            <a href="/{{ category[0] }}" class="custom-category-a">
              <img src="../assets/images/{{ category[0] }}/{{ category[0] }}.jpg" alt="사진영역" class="custom-category-img"/>
            </a>
            <a href="/{{ category[0] }}"  class="custom-category-a-text">
              <strong>{{ category[0] }}</strong> 
              <span>{{ i }} posts</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<!-- 최근 포스트 영역 -->
<div class="toggle-second">
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      {% if post.layout == "single" %}
        {% include archive-single.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>

  {% include paginator.html %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

