.series{
    padding: 1rem 1rem;
    background: #191b1f;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.series-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.series-li{
    margin-bottom: 0.1rem;
}

.collapsible {
    background: none;
    color: rgb(212, 205, 205);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.series-ol {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
  
.series-ol.open {
    max-height: 500px;
}
  
a:visited{
    color: #a9dde0;
}

.category-detail{
    margin-bottom: 1.2rem;
}

.category-summary{
    margin-bottom: 0.6rem;
}
  