.selected{
    border-bottom: 2px solid $link-color;
    color : $link-color;
}
.button-container{
    margin-top : 2rem;
    margin-bottom : 0.5rem;
}

.button-first{
    margin-right : 1rem;
    cursor: pointer;
}

.button-second{
    margin-right : 1rem;
    cursor: pointer;
}

.toggle-hide {
    display: none;
}