.series{
    padding: 1rem 1rem;
    background: $series-background-color;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.series-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.series-li{
    margin-bottom: 0.1rem;
}

.collapsible {
    background: none;
    color: rgb(212, 205, 205);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.series-ol {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
  
.series-ol.open {
    max-height: 0px;
}
  
.a-series{
    color: #a9dde0;
}
.a-series:visited{
    color: #a9dde0;
}

.a-series-current{
    border-bottom: 2px solid #a9dde0;
}

.custom-category-a{
    border-bottom: none !important; 
}

.custom-category-img{
    width: 100%;
    height: 160px;
}

  